{% extends 'base.html' %}
{% block title %}Rent{% endblock %}
{% block rental_active %} active {% endblock %}

{% block body %}
<div class="container">
    {% for message in messages %}
        <div class="alert alert-{{message.tags}}">{{ message }}</div>
        {% endfor %}
        <!--The rental homes themselves.-->
        <div class="container-fluid padd_butnotop">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 no_padd">
                {% for home in homes %}
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pict_div">
                    <img src="../static/images/{{ home.image_url }}" height="28%" width="100%">
                    <div><b>{{ home.name }}</b></div>
                    <div>Rent Amount: ${{ home.rent_expected }}</div>
                    <div>Availablity: {{ home.rental_status }}</div>
                    <form action="{% url 'rental_app:rented' id=home.id %}" style="display:inline!important;">
                        <input value="Rent it" type="submit"></input>
                    </form>
                </div>
            {% endfor %}
            </div>
        </div>
</div>
{% endblock %}
